# Packages needed for dev testing
mock
coverage
discover
nose
unittest2
hacking
http://tarballs.openstack.org/neutron/neutron-10.0.0.tar.gz#egg=neutron
-e git+https://github.com/roaet/wafflehaus.git#egg=wafflehaus
