# Packages needed for dev testing
mock
coverage
discover
nose
unittest2
hacking
-e git+https://github.com/openstack/neutron.git#egg=neutron
-e git+https://github.com/roaet/wafflehaus.git#egg=wafflehaus
